[Unit]
Description=Gamescope Session Target
Requires=graphical-session.target
BindsTo=graphical-session.target
After=graphical-session.target
PropagatesStopTo=graphical-session.target
Requires=gamescope-session.service
BindsTo=gamescope-session.service
Upholds=steam-launcher.service
